[user]
	email = tsigwt@gmail.com
	name = Thiago Sanches

[alias]
	z = status
	p = push
	aa = add
	kk = commit
	k = clone

[credential]
	helper = cache

[commit]
	verbose = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
