[includeIf "gitdir:~/r/github/"]
  	path = ~/.gitconfig.work
	
[includeIf "gitdir:~/r/"]
  	path = ~/.gitconfig.me
	
[alias]
	z = status
	p = push
	aa = add
	kk = commit
	k = clone

[credential]
	helper = cache

[commit]
	verbose = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
